In [1]:
# # file = open('<file_name>','<mode>')
# # file.close()

# with open('<file_name>','<mode>') as file:
#     <operations>

In [2]:
# mode
# read -> 'r'
# write -> 'w'
# create -> 'x'
# append -> 'a'

In [5]:
try:
    file = open('file.txt','x')
    file.close()
except:
    print("The file is already there!")

The file is already there!

In [6]:
file = open('file.txt','r')
x = file.read()
print(x)
file.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World
9.Hello World

In [7]:
type(x)

str

In [10]:
data = x.split('\n')
data

['1.Hello World',
 '2.Hello World',
 '3.Hello World',
 '4.Hello World',
 '5.Hello World',
 '6.Hello World',
 '7.Hello World',
 '8.Hello World',
 '9.Hello World']

In [13]:
n = int(input("Enter line no = "))
data[n-1]

Enter line no = 1

'1.Hello World'

In [14]:
#mode - w

file = open('hello.txt','w')
file.write("Hello World")
file.close()

In [16]:
bill = str()
#s = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter x = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = bill + f"{product} {price} ana{quantity} {total}\n"
print(bill)

file = open('bill.txt','w')
file.write(bill)
file.close()

Enter n = 2
Enter x = Apple
Enter price = 200
Enter quantity = 3
Enter x = Banana
Enter price = 120
Enter quantity = 4
Apple 200 3 600
Banana 120 4 480

In [17]:
file = open('bill.txt','r')
x = file.read()
print(x)
file.close()

Apple 200 3 600
Banana 120 4 480

In [24]:
b = x.split('\n')[0:-1]
print(b)
result = []
for i in b:
    y = i.split()
    
    y[1] = int(y[1])
    y[2] = int(y[2])
    y[3] = int(y[3])
    result.append(y)
    
result

['Apple 200 3 600', 'Banana 120 4 480']

[['Apple', 200, 3, 600], ['Banana', 120, 4, 480]]

In [27]:
bill = str()
#s = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter x = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = bill + f"{product},{price},{quantity},{total}\n"
print(bill)

file = open('bill.csv','w')
file.write('Product,Price,Quantity,Total\n')
file.write(bill)
file.close()

Enter n = 2
Enter x = Apple
Enter price = 300
Enter quantity = 2
Enter x = Banana
Enter price = 120
Enter quantity = 4
Apple,300,2,600
Banana,120,4,480

In [26]:
pwd

'C:\\Users\\Aayush\\Python530pm'

In [28]:
import pandas as pd
df = pd.read_csv('bill.csv')
df

  Product  Price  Quantity  Total
0   Apple    300         2    600
1  Banana    120         4    480

In [37]:
file = open('new_bill.csv','a')
file.write('Product,Price,Quantity,Total\n')

29

In [40]:
bill = str()
#s = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter x = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = bill + f"{product},{price},{quantity},{total}\n"

file.write(bill)

Enter n = 1
Enter x = Coke
Enter price = 200
Enter quantity = 2

15

In [41]:
file.close()