In [1]:
# Python collection
# List
# Tuple
# Dictionary
# Set

In [2]:
# List
# -Indexing
# -Multiple data and duplicate data
# -Ordered
# -Mutable

In [4]:
b = []
c = list()
a = ['Apple','Ball','Cat','Fish']
d = ['Apple',1,2,3,5.5,3.5]
print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>
<class 'list'>

In [9]:
a = ['Apple','Ball','Cat','Fish']
print(a[2])
print(a[0:4])
print(a[0:4:2])

Cat
['Apple', 'Ball', 'Cat', 'Fish']
['Apple', 'Cat']

In [10]:
a = ['Apple','Ball','Cat','Fish']
print(a)

['Apple', 'Ball', 'Cat', 'Fish']

In [12]:
# + *
a = ['Apple','Ball','Cat','Fish']
d = ['Apple',1,2,3,5.5,3.5]
c = a+d
print(c)

['Apple', 'Ball', 'Cat', 'Fish', 'Apple', 1, 2, 3, 5.5, 3.5]

In [13]:
a = ['Apple','Ball','Cat','Fish']
print(a*2)

['Apple', 'Ball', 'Cat', 'Fish', 'Apple', 'Ball', 'Cat', 'Fish']

In [14]:
a = [1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [16]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]
print(l)

Enter n = 5
Enter x = 234
Enter x = 656
Enter x = 678
Enter x = 34
Enter x = 67
[234, 656, 678, 34, 67]

In [19]:
print("The max value is = ",max(l))
print("The max value is = ",min(l))
print("The sum = ",sum(l))
print("Average = ",sum(l)/n)
l.sort()
print(l)
l.reverse()
print(l)

The max value is =  678
The max value is =  34
The sum =  1669
Average =  333.8
[34, 67, 234, 656, 678]
[678, 656, 234, 67, 34]

In [20]:
a = ["apple",'Ball','cat','Zebra','Xray']
a.sort()
print(a)

['Ball', 'Xray', 'Zebra', 'apple', 'cat']

In [22]:
a[0].lower()

'ball'

In [24]:
a = ["apple",'Ball','cat','Zebra','Xray']
for i in a:
    print(i)

apple
Ball
cat
Zebra
Xray

In [25]:
len(a)

5

In [26]:
a = ["apple",'Ball','cat','Zebra','Xray']
l = len(a)
for i in range(l):
    print(a[i])

apple
Ball
cat
Zebra
Xray

In [31]:
a = ["apple",'Ball','cat','Zebra','Xray']
if "apple" in a:
    print("Yes")
    print(a.count("apple"))

Yes
1

In [32]:
# append() extend() insert()

In [33]:
a = ["apple",'Ball','cat','Zebra','Xray']
a.append('Fish')
print(a)

['apple', 'Ball', 'cat', 'Zebra', 'Xray', 'Fish']

In [34]:
a = ["apple",'Ball','cat','Zebra','Xray']
a.insert(1,'Fish')
print(a)

['apple', 'Fish', 'Ball', 'cat', 'Zebra', 'Xray']

In [35]:
a = ["apple",'Ball','cat','Zebra','Xray']
b = [1,2,3,4]
a.extend(b)
a

['apple', 'Ball', 'cat', 'Zebra', 'Xray', 1, 2, 3, 4]

In [37]:
a = "Apple"
b = list(a)
b

['A', 'p', 'p', 'l', 'e']

In [38]:
c = str(b)
c

"['A', 'p', 'p', 'l', 'e']"

In [ ]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
print(l)

In [40]:
# Update or edit
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray']
a[0] = "Ant"
a

['Ant', 'Ball', 'cat', 'Zebra', 'Xray']

In [41]:
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray']
a[0] = a[0].upper()
a

['APPLE', 'Ball', 'cat', 'Zebra', 'Xray']

In [42]:
# del remove() pop()
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray']
del a[0]
print(a)

['Ball', 'cat', 'Zebra', 'Xray']

In [43]:
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray']
del a[0:2]
print(a)

['cat', 'Zebra', 'Xray']

In [4]:
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray']
del a[0:6:2]
print(a)

['Ball', 'Zebra']

In [44]:
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray']
b = a.pop(0)
print(a)
print(b)

['Ball', 'cat', 'Zebra', 'Xray']
apple

In [45]:
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray','apple']
a.pop()
a

['apple', 'Ball', 'cat', 'Zebra']

In [46]:
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray']
a.remove('apple')
a

['Ball', 'cat', 'Zebra', 'Xray']

In [1]:
# WAP to calulate index of any value
# WAP to remove multiple value

In [5]:
# WAP to calulate index of any value
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray','apple']
b = input("Enter any value = ")
for i in range(len(a)):
    if a[i] == b:
        print(i)

Enter any value = apple
0
5

In [11]:
# WAP to remove multiple value
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray','apple']
b = input("Enter any value = ")
l = a.count(b)
print(l)
for i in range(l):
    a.remove(b)
print(a)

Enter any value = apple
2
['Ball', 'cat', 'Zebra', 'Xray']

In [29]:
# WAP to remove multiple value
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray','apple']
b = input("Enter any value = ")
l = a.count(b)
print(l)
for i in a:
    if i.lower() == b.lower():
        a.remove(i)
print(a)

Enter any value = APPLE
0
['Ball', 'cat', 'Zebra', 'Xray']

In [27]:
# WAP to remove multiple value
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray','apple']
b = input("Enter any value = ")
c = 0
for i in a:
    if i.lower() == b.lower():
        del a[c]
    c = c+1
    
print(a)

Enter any value = Cat
['apple', 'Ball', 'Zebra', 'Xray', 'apple']

In [10]:
a = ['apple', 'Ball', 'cat', 'Zebra', 'Xray','apple']
a.remove('apple')
a.remove('apple')
a

['Ball', 'cat', 'Zebra', 'Xray']

In [32]:
# List inside list
a = [[1,2,3],
     [4,5,6],
     [6,7,8]]
print(type(a))
print(a)
print(len(a))

<class 'list'>
[[1, 2, 3], [4, 5, 6], [6, 7, 8]]
3

In [35]:
print(a[2])

[6, 7, 8]

In [37]:
print(a[0][0])

1

In [39]:
a = ['Ball', 'cat', 'Zebra', 'Xray']
a[0][0]

'B'

In [45]:
a = [['Ram',45,'Kathmandu'],
    ['Shyam',78,'Bhaktapur'],
    ['Hari',45,'Jhapa']]
a

[['Ram', 45, 'Kathmandu'], ['Shyam', 78, 'Bhaktapur'], ['Hari', 45, 'Jhapa']]

In [43]:
a[0][1]

45

In [46]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter age = ")
    l.append([name,age,add])
    
l

Enter n = 2
Enter name = Ram
Enter age = 89
Enter age = Kathmandu
Enter name = Shyam
Enter age = 89
Enter age = Kathmandu

[['Ram', 89, 'Kathmandu'], ['Shyam', 89, 'Kathmandu']]

In [47]:
l.append(['Hari',45,'Bara'])
l

[['Ram', 89, 'Kathmandu'], ['Shyam', 89, 'Kathmandu'], ['Hari', 45, 'Bara']]

In [51]:
a = [['Ram', 29, 'Kathmandu'], ['Shyam', 39, 'Kathmandu'], ['Hari', 15, 'Bara']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 89, 'Kathmandu']

In [1]:
a = [['Ram', 29, 'Kathmandu'], ['Shyam', 39, 'Kathmandu'], ['Hari', 15, 'Bara']]

for i in a:
    if i[1]>20:
        print(i)

['Ram', 29, 'Kathmandu']
['Shyam', 39, 'Kathmandu']

In [5]:
# Update
a = [['Ram', 29, 'Kathmandu'], ['Shyam', 39, 'Kathmandu'], ['Hari', 15, 'Bara']]
a[0][0] = 'Rama'
a

[['Rama', 29, 'Kathmandu'], ['Shyam', 39, 'Kathmandu'], ['Hari', 15, 'Bara']]

In [6]:
# delete
a = [['Ram', 29, 'Kathmandu'], ['Shyam', 39, 'Kathmandu'], ['Hari', 15, 'Bara']]
del a[0]
a

[['Shyam', 39, 'Kathmandu'], ['Hari', 15, 'Bara']]

In [7]:
# WAP to convert give string to list inside list
# a = "Apple 200 2 400\nBanana 100 3 300\n"
# a = [["Apple",200,2,400],['Banana',100,2,200]]
# And convert price,total quantity into int

In [ ]:
# WAP to create a matrix taking row and col from user
# r -> ?
# c -> ?
# x =>
# r*c matrix
# [['Rama', 29, 'Kathmandu'],
#  ['Shyam', 39, 'Kathmandu'], 
#  ['Hari', 15, 'Bara']]
# r->3
# c->3

In [14]:
# WAP to convert give string to list inside list
# a = "Apple 200 2 400\nBanana 100 3 300\n"
# a = [["Apple",200,2,400],['Banana',100,2,200]]
# And convert price,total quantity into int
a = "Apple 200 2 400\nBanana 100 3 300\n"
b = a.split('\n')[0:-1]
print(b)
result = []
for i in b:
    x = i.split()
    price = int(x[1])
    qty = int(x[2])
    total = int(x[3])
    
    x[1] = price
    x[2] = qty
    x[3] = total
    
#     x[1] = int(x[1])
#     x[2] = int(x[2])
#     x[3] = int(x[3])
    result.append(x)
    
result

['Apple 200 2 400', 'Banana 100 3 300']

[['Apple', 200, 2, 400], ['Banana', 100, 3, 300]]

In [12]:
a = "Apple 200 2 400\nBanana 100 3 300\n"
b = a.split('\n')[0:-1]
print(b)
result = []
for i in b:
    i.split()

['Apple 200 2 400', 'Banana 100 3 300']
['Apple', '200', '2', '400']
['Banana', '100', '3', '300']

In [2]:
# WAP to create a matrix taking row and col from user
# r -> ?
# c -> ?
# x =>
# r*c matrix
# [['Rama', 29, 'Kathmandu'],
#  ['Shyam', 39, 'Kathmandu'], 
#  ['Hari', 15, 'Bara']]
# r->3
# c->3

matrix = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        x = int(input(f"Enter x = for row={i} col={j}  "))
        y.append(x)
        
    matrix.append(y)
    
print(matrix)

Enter r = 3
Enter c = 3
Enter x = for row=0 col=0  2
Enter x = for row=0 col=1  3
Enter x = for row=0 col=2  4
Enter x = for row=1 col=0  5
Enter x = for row=1 col=1  6
Enter x = for row=1 col=2  7
Enter x = for row=2 col=0  8
Enter x = for row=2 col=1  1
Enter x = for row=2 col=2  4
[[2, 3, 4], [5, 6, 7], [8, 1, 4]]

In [3]:
# WAP to create a matrix taking row and col from user
# r -> ?
# c -> ?
# x =>
# r*c matrix
# [['Rama', 29, 'Kathmandu'],
#  ['Shyam', 39, 'Kathmandu'], 
#  ['Hari', 15, 'Bara']]
# r->3
# c->3
subject = ['Physics','Chemistry','Math','English','Nepali']
c = len(subject)
matrix = []
r = int(input("Enter r = "))
for i in range(r):
    y = []
    total = 0
    for j in range(c):
        x = int(input(f"Enter marks for roll {i} subject->{subject[j]}  =="))
        total = total + x
        y.append(x)
    
    y.append(total)
    matrix.append(y)
    
print(matrix)

Enter r = 1
Enter marks for roll 0 subject->Physics  ==78
Enter marks for roll 0 subject->Chemistry  ==90
Enter marks for roll 0 subject->Math  ==67
Enter marks for roll 0 subject->English  ==87
Enter marks for roll 0 subject->Nepali  ==89
[[78, 90, 67, 87, 89, 411]]