In [1]:
# Set
# -No indexing
# -no Duplicate data
# -unordered
# -mutable

In [3]:
#s = set()
s = {1,2,3,4,5,6}
print(type(s))

<class 'set'>

In [4]:
s = {1,2,3,4,5,6}
s[0]

TypeError: 'set' object is not subscriptable

In [6]:
s = {1,2,3,4,5,6,1,2,3,4}
print(s)
s

{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [7]:
s = {"Apple","Zebra","Ball",'xray'}
print(s)
s

{'Zebra', 'xray', 'Apple', 'Ball'}

{'Apple', 'Ball', 'Zebra', 'xray'}

In [8]:
s = {1,2,3,4,5,6,1,2,3,4}
print(len(s))

6

In [1]:
s = {"Apple","Zebra","Ball",'xray'}
for i in s:
    print(i)

Apple
Ball
Zebra
xray

In [3]:
a = [1,3,4,5,6,2,3,4,5,6,7,8,9,0,2,3,4,5,6]
list(set(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
s = {}
type(s)

dict

In [8]:
s = set()
type(s)

set

In [5]:
t = (1,)
type(t)

tuple

In [6]:
# in set no mutable data type even set

In [8]:
a = {(1,2,3),(3,4,5),(5,6,7),(1,2,3)}
a

{(1, 2, 3), (3, 4, 5), (5, 6, 7)}

In [9]:
a = {[1,2,3],[3,4,5],[5,6,7],[1,2,3]}
a

TypeError: unhashable type: 'list'

In [10]:
a = {{1,2,3},{3,4,5},{5,6,7},{1,2,3}}
a

TypeError: unhashable type: 'set'

In [11]:
a = {(1,2,3),(3,4,5),(5,{6},7),(1,2,3)}
a

TypeError: unhashable type: 'set'

In [15]:
U = {'Bill','Gates','Hari','John','Mike','Nabin','Ram','Sambhu','Satya','Sita',"abc","xyz"}
ms = {"Ram","Bill","Gates","Mike","John","Satya","Sambhu"}
apple = {"Sita","Hari","Nabin","John","Satya","Ram"}

#intersection - > intersection values
print(ms.intersection(apple))

{'John', 'Ram', 'Satya'}

In [14]:
#merzed values
ms.union(apple)

{'Bill',
 'Gates',
 'Hari',
 'John',
 'Mike',
 'Nabin',
 'Ram',
 'Sambhu',
 'Satya',
 'Sita'}

In [16]:
# difference
ms - apple

{'Bill', 'Gates', 'Mike', 'Sambhu'}

In [17]:
apple - ms

{'Hari', 'Nabin', 'Sita'}

In [18]:
U = {'Bill','Gates','Hari','John','Mike','Nabin','Ram','Sambhu','Satya','Sita',"abc","xyz"}
ms = {"Ram","Bill","Gates","Mike","John","Satya","Sambhu"}
apple = {"Sita","Hari","Nabin","John","Satya","Ram"}

un = ms.union(apple)
un

{'Bill',
 'Gates',
 'Hari',
 'John',
 'Mike',
 'Nabin',
 'Ram',
 'Sambhu',
 'Satya',
 'Sita'}

In [19]:
U-un

{'abc', 'xyz'}

In [20]:
len(U-un)

2

In [22]:
# add()
a = {"Apple"}
a.add("Ball")
a

{'Apple', 'Ball'}

In [23]:
a = {'Apple', 'Ball'}
a.remove('Apple')
a

{'Ball'}